<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/eventshop.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    C
    <root level="INFO">
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>