
<table id="users_table">
</table>

<br />

<div class="row">
	<div class="span12">
		<input type="button" value='View' class="btn btn-small btn-inverse"
			id="view"> <input type="button" value='Activate'
			class="btn btn-small btn-inverse" id="activate"> <input
			type="button" value='Deactivate' class="btn btn-small btn-inverse"
			id="deactivate">
	</div>
</div>

<br />
<div class="widget" id="view_profile_block">
	<div class="widget-header">
		<h3>View/Update User Profile</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">


		<div class="carousel slide" id="home-carousel">

			<div class="carousel-inner" id="view_users_block">
				<!--  place to add users -->
			</div>
			<a class="carousel-control left" href="#home-carousel"
				data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
				href="#home-carousel" data-slide="next">&rsaquo;</a>

		</div>

	</div>
</div>

