
<table id="query_table" cellpadding="2"></table>

<br />

<div class="row">
	<div class="span12">
		<input type="button" value='View' class="btn btn-small btn-inverse"
			id="q_view"> <a href="javascript:void(0);"
			class="btn btn-small btn-inverse h16"><img src="imgs/play_32.png"
			class="img_class" id="q_play_all" /></a> <a href="javascript:void(0);"
			class="btn btn-small btn-inverse h16"><img src="imgs/stop_32.png"
			class="img_class_stop" id="q_stop_all" /></a> <input type="button"
			value='Delete' class="btn btn-small btn-inverse" id="q_delete">
	</div>
</div>

<br />

<div class="widget" id="view_querylist_block">
	<div class="widget-header">
		<h3>View Query</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">


		<div class="carousel slide" id="query-carousel">

			<div class="carousel-inner" id="view_query_block">
				<!-- place to add query list items -->
			</div>
			<a class="carousel-control left" href="#query-carousel"
				data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
				href="#query-carousel" data-slide="next">&rsaquo;</a>

		</div>

	</div>
</div>