<div class="main">
	<h2>EventShop</h2>
	<div class="alignTop" align="right">
		<a style="text-decoration: none; cursor: pointer" id="signup">Sign
			Up</a>
	</div>
	<h3 class="form-signin-heading" style="display: none">Please sign
		in</h3>
	Email address <input type="text" class="input-block-level"
		placeholder="Email address" id="loginId"> Password <input
		type="password" class="input-block-level" placeholder="Password"
		id="loginPWD">
	<div id="invalid" style="display: none; color: red">Invalid email
		address and/or password.</div>
	<input type=button class="btn btn-primary" value='Log in' id="login">
</div>


