#basic-modal-content, #basic-modal-content1 {
	display: none;
}

#View-modal-content {
	display: none;
}

/* Overlay */

/* Container */
#simplemodal-container {
	height: 260px;
	width: 450px;
	color: #bbb;
	background-color: white;
	border: 4px solid #444;
	padding: 12px;
}

#simplemodal-container-alert {
	height: 260px;
	width: 450px;
	color: #bbb;
	background-color: white;
	border: 4px solid #444;
	padding: 12px;
}

#simplemodal-container .simplemodal-data {
	padding: 8px;
}

#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a {
	color: #ddd;
}

#simplemodal-container a.modalCloseImg {
	background: url(../imgs/x.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}

#simplemodal-container h3 {
	color: #84b8d9;
}

.active {
	background-color: green;
}

.sortable {
	cursor: default;
}

.alignTop {
	
}

.alignRight {
	padding-right: 50px;
}

.aligntop {
	padding-top: 50px;
	padding-left: 50px;
}

.required {
	color: red;
}

.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	margin: 0 1em 1em 0;
}

.portlet-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
	padding: 0.4em;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

path {
	/*stroke: steelblue;*/
	stroke-width: 1;
	/*fill: none;*/
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

.node {
	stroke: #000;
	stroke-width: 1px;
}

.link {
	stroke: #ccc;
}

rect {
	/*fill: none;*/
	pointer-events: all;
}

.node {
	fill: #000;
}

.cursor {
	fill: none;
	stroke: brown;
	pointer-events: none;
}

.link {
	stroke: #999;
}

.multiselectable select, .multiselectable div {
	width: 93px !important;
	float: left;
}

.multiselectable div * {
	display: block;
	margin: 0 auto;
}

.multiselectable div {
	display: inline;
}

.multiselectable .m-selectable-controls {
	margin-top: 2.1em;
	width: 50px !important;
}

.multiselectable .m-selectable-controls button {
	margin-top: 0.2em;
}

.dsTableData td, .dsTableData th, .qTableData td, .qsTableData th {
	border-top: 1px solid #dddddd !important;
	padding: 8px;
	line-height: 20px;
	vertical-align: top;
	text-align: left;
}

.dsTableData {
	margin-left: 1px;
	width: 225px;
}

.qTableData {
	width: 210px !important;
	margin-right: 30px;
}

.dsTableData td {
	padding: 0px !important;
}

.prevClass {
	background: url("../imgs/previous.png") no-repeat scroll left top
		rgba(0, 0, 0, 0);
	width: 24px;
	height: 24px;
	float: left;
	cursor: pointer;
}

.nextClass {
	background: url("../imgs/next.png") no-repeat scroll right top
		rgba(0, 0, 0, 0);
	width: 24px;
	height: 24px;
	float: right;
	cursor: pointer;
}

.prevText {
	float: left;
}

.nextText {
	float: right;
}

#pagination {
	margin-top: 5px;
}

#paginationQ {
	margin-top: 5px;
}

#paginationA {
	margin-top: 5px;
}

.centerText {
	text-align: center !important;
}

/* Start Styles for map pop up */
.states {
	fill: #3333CC;
	stroke: #fff;
}

.symbol {
	fill: #fff;
	fill-opacity: .8;
	stroke: #fff;
}

.tooltipMap {
	background-color: rgba(68, 136, 187, 0.5);;
	margin: 10px;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*End styles for map pop up*/