@import url('bootstrap.min.css');

@import url('style.css');

@import url('bootstrap.css');

@import url('bootstrap-responsive.min.css');

@import url('base-admin-2-responsive.css');

@import url('dashboard.css');

@import url('demo.css');

@import url('font-awesome.min.css');

@import url('jquery-ui-1.10.0.custom.min.css');

@import url('admin-style.css');

@import url('multi-select.css');

@import url('../js/libs/dataTables/css/demo_table.css');

@import url('popup-style.css');